doctype HTML
html
	head
	
		meta(charset="utf-8")
	
		title Meeting Rooms
	
		link(type="text/css" rel="stylesheet" href="css/index.css")
	body
		p This is word 2
		
		script(src="http://test.monochromicon.me:1337/vorlon.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js")